body
  height: 100%
  main
    height: 100%
    max-width: 1920px
    margin: 0 auto
    display: block
    .site-webdoor
      background-color: $branco
      height: 100%
      background-position: center
      background-repeat: no-repeat
      background-size: cover
      position: relative
      max-height: 1000px
      .scrolldown
        position: absolute
        bottom: 50px